__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.env
runs/
*.log
.DS_Store
.arachnid_scans

# Experiments
experiments/*.zip
experiments/*/*.zip
experiments/*/*/*.zip
experiments/*/*/*/*.zip

experiments/vdm_rt-main
experiments/*/vdm_rt-main
experiments/*/*/vdm_rt-main
experiments/*/*/*/vdm_rt-main

# Secrets
dev-secrets/*
dev-references/*