numpy # Fast math

# Logging, compression, and state
h5py # Engram, this is for the models reloadable .h5 state /checkpoint file
zstandard # Very fast, live compressed JSONL runtime logs

pytest # Testing
